%p#notice= notice

%p
  %b Pid:
  = @sprint.pid
%p
  %b Name:
  = @sprint.name
%p
  %b Closed:
  = @sprint.closed
%p
  %b Velocity:
  = @sprint.velocity
%p
  %b Have all changes:
  = @sprint.have_all_changes
%p
  %b Have processed all changes:
  = @sprint.have_processed_all_changes
%p
  %b Start date:
  = @sprint.start_date
%p
  %b End date:
  = @sprint.end_date

= link_to 'Edit', edit_sprint_path(@sprint)
\|
= link_to 'Back', sprints_path
