%h1 Listing boards

%table
  %tr
    %th Pid
    %th Name
    %th Issprintboard
    %th
    %th
    %th

  - @boards.each do |board|
    %tr
      %td= board.pid
      %td= board.name
      %td= board.isSprintBoard
      %td= link_to 'Show', board
      %td= link_to 'Edit', edit_board_path(board)
      %td= link_to 'Destroy', board, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Board', new_board_path
